<div class="carts-container">
    <h1>
        {{titlePage}}
    </h1>
    <div class="carts">
        <table class="table-cart">
            <thead>
                <tr>
                    <th>title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>image</th>
                    <th>quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each carts}}
                    {{#each products}}
                    <tr>
                        {{#id}}
                        <td>{{this.title}}</td>
                        <td>{{description}}</td>
                        <td>{{price}}</td>
                        <td>
                            {{#each thumbnails}}
                        <img src="{{this}}" alt="">
                            {{/each}}
                        </td>
                        {{/id}}
                        <td>{{this.quantity}}</td>
                    </tr>
                    {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>

</div>

<link rel="stylesheet" href="/css/cart.css">