<div class="products-container">

    <h1> Welcome to Wsp MarketPlace</h1>
    {{#if role}}
    <div class="addel-container">
        <form class="addel" id="addForm" action="/products/" method="post">
            <h4>Add Product</h4>
            <label for="title">Nombre del producto</label>
            <input placeholder="Enter product title" class="controls" type="text" name="title" id="title">
            <label for="description">Descripción del producto</label>
            <textarea placeholder="Enter product description..." class="controls" name="description" id="description"
                cols="30" rows="10"></textarea>
            <label for="price">Precio del producto</label>
            <input placeholder="Enter product price" class="controls" type="text" name="price" id="price">
            <label for="thumbnail">Foto del producto</label>
            <input placeholder="Enter product picture" class="controls" type="text" name="thumbnails" id="thumbnail">
            <label for="stock">Stock del producto</label>
            <input placeholder="Enter product stock" class="controls" type="text" name="stock" id="stock">
            <label for="category">Categoria del producto</label>
            <input placeholder="Enter product category" class="controls" type="text" name="category" id="category">
            <input class="botons" type="submit" value="create">
        </form>
        <h2>Agregar productos</h2>
        <form class="addel" id="delForm">
            <h4>Delete product</h4>
            <label for="title">Nombre del producto</label>
            <input placeholder="Enter product title" class="controls" type="text" name="title" id="title">

            <label for="id-prod">id product</label>
            <input placeholder="Enter product id" class="controls" type="text" name="id" id="id-prod">

            <input class="botons" type="submit" value="create">
        </form>
    </div>
    {{/if}}
    <table id="productsTable" class="table-cart">
        <thead>
            <tr>
                <th><strong>Product</strong></th>
                <th><strong>thumbnail</strong></th>
                <th><strong>Description</strong></th>
                <th><strong>Price</strong></th>
                <th><strong>Stock</strong></th>
                <th><strong>Category</strong></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{title}}</td>
                <td>
                    {{#each thumbnails}}
                    <img src="{{this}}" alt="">
                    {{/each}}
                </td>
                <td>{{description}}</td>
                <td>{{price}}</td>
                <td>{{stock}}</td>
                <td>{{category}}</td>
                <td>
                    <form class="send-cart" action="/api/carts/63d438f59e8c761549334454/products/{{_id}}" method="post">
                        <input class="botons" type="submit">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/js/home.js"></script>
<link rel="stylesheet" href="/css/{{style}}">